In [1]:
# !pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp311-cp311-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.8.0-cp311-cp311-win_amd64.whl (630 kB)
   ---------------------------------------- 0.0/631.0 kB ? eta -:--:--
   ------------------------- -------------- 409.6/631.0 kB 8.5 MB/s eta 0:00:01
   ---------------------------------------- 631.0/631.0 kB 9.9 MB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ---------------------------------------- 0.0/307.7 kB ? eta -:--:--
   ---------------------------------------- 307.7/307.7 kB 9.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0

## Para sql server management studio

### Creaci√≥n de la base de datos y tablas

In [ ]:
-- Crear la base de datos
CREATE DATABASE TelecomDB;

-- Usar la base de datos
USE TelecomDB;

-- Crear la tabla de Empleados
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName NVARCHAR(50),
    LastName NVARCHAR(50),
    Email NVARCHAR(50),
    HireDate DATE,
    Salary DECIMAL(10, 2)
);

-- Crear la tabla de Clientes
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    FirstName NVARCHAR(50),
    LastName NVARCHAR(50),
    Email NVARCHAR(50),
    SignupDate DATE,
    MonthlyIncome DECIMAL(10, 2)
);

-- Crear la tabla de Transacciones
CREATE TABLE Transactions (
    TransactionID INT PRIMARY KEY,
    CustomerID INT FOREIGN KEY REFERENCES Customers(CustomerID),
    Product NVARCHAR(50),
    TransactionDate DATE,
    Amount DECIMAL(10, 2)
);

### Insertar datos en la tabla de Empleados

In [ ]:
-- Insertar datos en la tabla de Empleados
-- Insertar datos en la tabla de Empleados
INSERT INTO Employees (EmployeeID, FirstName, LastName, Email, HireDate, Salary) VALUES
(1, 'John', 'Doe', 'john.doe@example.com', '2020-01-15', 60000),
(2, 'Jane', 'Smith', 'jane.smith@example.com', '2019-03-22', 55000),
(3, 'Michael', 'Johnson', 'michael.johnson@example.com', '2021-06-12', 70000),
(4, 'Patricia', 'Brown', 'patricia.brown@example.com', '2018-11-05', 65000),
(5, 'Linda', 'Williams', 'linda.williams@example.com', '2017-04-23', 72000),
(6, 'Robert', 'Jones', 'robert.jones@example.com', '2018-03-19', 58000),
(7, 'Mary', 'Davis', 'mary.davis@example.com', '2020-07-25', 61000),
(8, 'James', 'Miller', 'james.miller@example.com', '2019-12-11', 59000),
(9, 'Elizabeth', 'Garcia', 'elizabeth.garcia@example.com', '2017-05-30', 65000),
(10, 'William', 'Martinez', 'william.martinez@example.com', '2016-08-15', 72000),
(11, 'Barbara', 'Hernandez', 'barbara.hernandez@example.com', '2015-11-09', 68000),
(12, 'Richard', 'Lopez', 'richard.lopez@example.com', '2017-04-02', 60000),
(13, 'Susan', 'Gonzalez', 'susan.gonzalez@example.com', '2018-06-18', 64000),
(14, 'Joseph', 'Wilson', 'joseph.wilson@example.com', '2019-09-14', 58000),
(15, 'Jessica', 'Anderson', 'jessica.anderson@example.com', '2021-02-27', 62000),
(16, 'Thomas', 'Thomas', 'thomas.thomas@example.com', '2017-10-10', 60000),
(17, 'Sarah', 'Taylor', 'sarah.taylor@example.com', '2020-04-04', 61000),
(18, 'Charles', 'Moore', 'charles.moore@example.com', '2016-07-23', 70000),
(19, 'Karen', 'Jackson', 'karen.jackson@example.com', '2019-01-17', 62000),
(20, 'Matthew', 'Martin', 'matthew.martin@example.com', '2018-10-27', 66000),
(21, 'Nancy', 'Lee', 'nancy.lee@example.com', '2021-03-05', 59000),
(22, 'Paul', 'Perez', 'paul.perez@example.com', '2017-11-21', 64000),
(23, 'Betty', 'Thompson', 'betty.thompson@example.com', '2018-08-13', 63000),
(24, 'Christopher', 'White', 'christopher.white@example.com', '2019-05-29', 67000),
(25, 'Sandra', 'Harris', 'sandra.harris@example.com', '2020-06-16', 58000),
(26, 'Daniel', 'Sanchez', 'daniel.sanchez@example.com', '2017-02-08', 62000),
(27, 'Ashley', 'Clark', 'ashley.clark@example.com', '2016-03-14', 66000),
(28, 'Mark', 'Ramirez', 'mark.ramirez@example.com', '2018-07-19', 61000),
(29, 'Linda', 'Lewis', 'linda.lewis@example.com', '2019-11-22', 59000),
(30, 'Steven', 'Robinson', 'steven.robinson@example.com', '2020-12-10', 63000),
(31, 'Donna', 'Walker', 'donna.walker@example.com', '2017-01-05', 64000),
(32, 'George', 'Young', 'george.young@example.com', '2018-09-17', 67000),
(33, 'Carol', 'Allen', 'carol.allen@example.com', '2019-03-28', 60000),
(34, 'Brian', 'King', 'brian.king@example.com', '2020-07-14', 65000),
(35, 'Emily', 'Scott', 'emily.scott@example.com', '2021-01-22', 62000),
(36, 'Edward', 'Green', 'edward.green@example.com', '2018-05-07', 61000),
(37, 'Rebecca', 'Baker', 'rebecca.baker@example.com', '2019-08-30', 67000),
(38, 'Kevin', 'Adams', 'kevin.adams@example.com', '2020-11-26', 60000),
(39, 'Sharon', 'Nelson', 'sharon.nelson@example.com', '2017-04-21', 65000),
(40, 'Kenneth', 'Carter', 'kenneth.carter@example.com', '2016-06-25', 59000),
(41, 'Deborah', 'Mitchell', 'deborah.mitchell@example.com', '2018-10-02', 62000),
(42, 'Jason', 'Perez', 'jason.perez@example.com', '2019-12-18', 66000),
(43, 'Amy', 'Roberts', 'amy.roberts@example.com', '2020-03-15', 61000),
(44, 'Gary', 'Turner', 'gary.turner@example.com', '2017-07-31', 59000),
(45, 'Angela', 'Phillips', 'angela.phillips@example.com', '2016-09-23', 64000),
(46, 'Nicholas', 'Campbell', 'nicholas.campbell@example.com', '2018-01-20', 67000),
(47, 'Kimberly', 'Parker', 'kimberly.parker@example.com', '2019-04-11', 60000),
(48, 'Scott', 'Evans', 'scott.evans@example.com', '2020-08-05', 65000),
(49, 'Laura', 'Edwards', 'laura.edwards@example.com', '2021-02-28', 62000),
(50, 'Joshua', 'Collins', 'joshua.collins@example.com', '2017-11-13', 66000);

### Insertar datos en la tabla de Clientes

In [ ]:
-- Insertar datos en la tabla de Clientes
INSERT INTO Customers (CustomerID, FirstName, LastName, Email, SignupDate, MonthlyIncome) VALUES
(1, 'Alice', 'Johnson', 'alice.johnson@example.com', '2021-05-10', 4000),
(2, 'Bob', 'Williams', 'bob.williams@example.com', '2020-11-01', 3500),
(3, 'Robert', 'Smith', 'robert.smith@example.com', '2019-07-15', 4500),
(4, 'Mary', 'Davis', 'mary.davis@example.com', '2018-12-30', 3200),
(5, 'James', 'Garcia', 'james.garcia@example.com', '2022-01-18', 4800),
(6, 'Jennifer', 'Martinez', 'jennifer.martinez@example.com', '2021-03-05', 4200),
(7, 'Patricia', 'Hernandez', 'patricia.hernandez@example.com', '2020-06-23', 3900),
(8, 'Linda', 'Lopez', 'linda.lopez@example.com', '2019-10-12', 3700),
(9, 'Michael', 'Gonzalez', 'michael.gonzalez@example.com', '2018-05-17', 4500),
(10, 'Sarah', 'Wilson', 'sarah.wilson@example.com', '2022-02-09', 4300),
(11, 'David', 'Anderson', 'david.anderson@example.com', '2021-07-11', 4100),
(12, 'Richard', 'Thomas', 'richard.thomas@example.com', '2020-03-29', 3900),
(13, 'Susan', 'Taylor', 'susan.taylor@example.com', '2019-08-14', 4000),
(14, 'Joseph', 'Moore', 'joseph.moore@example.com', '2018-01-27', 3800),
(15, 'Karen', 'Jackson', 'karen.jackson@example.com', '2021-09-05', 4200),
(16, 'Thomas', 'Martin', 'thomas.martin@example.com', '2020-12-15', 4100),
(17, 'Betty', 'Lee', 'betty.lee@example.com', '2019-11-21', 3500),
(18, 'Charles', 'Perez', 'charles.perez@example.com', '2018-04-30', 4400),
(19, 'Jessica', 'Thompson', 'jessica.thompson@example.com', '2022-01-02', 4600),
(20, 'George', 'White', 'george.white@example.com', '2021-08-18', 4200),
(21, 'Barbara', 'Harris', 'barbara.harris@example.com', '2020-05-10', 4000),
(22, 'Daniel', 'Sanchez', 'daniel.sanchez@example.com', '2019-06-16', 3900),
(23, 'Sandra', 'Clark', 'sandra.clark@example.com', '2018-11-09', 4100),
(24, 'Matthew', 'Ramirez', 'matthew.ramirez@example.com', '2021-02-22', 3700),
(25, 'Ashley', 'Lewis', 'ashley.lewis@example.com', '2020-08-13', 4300),
(26, 'Mark', 'Robinson', 'mark.robinson@example.com', '2019-03-26', 4500),
(27, 'Linda', 'Walker', 'linda.walker@example.com', '2018-07-15', 4000),
(28, 'Steven', 'Young', 'steven.young@example.com', '2022-01-27', 3900),
(29, 'Donna', 'Allen', 'donna.allen@example.com', '2021-06-07', 4200),
(30, 'Carol', 'King', 'carol.king@example.com', '2020-02-28', 4100),
(31, 'George', 'Wright', 'george.wright@example.com', '2019-10-05', 3500),
(32, 'Helen', 'Scott', 'helen.scott@example.com', '2018-08-19', 4400),
(33, 'Kenneth', 'Green', 'kenneth.green@example.com', '2021-01-12', 4600),
(34, 'Emily', 'Baker', 'emily.baker@example.com', '2020-11-20', 4200),
(35, 'Joshua', 'Adams', 'joshua.adams@example.com', '2019-05-04', 4000),
(36, 'Laura', 'Nelson', 'laura.nelson@example.com', '2018-12-23', 3700),
(37, 'Kevin', 'Hill', 'kevin.hill@example.com', '2021-07-26', 4300),
(38, 'Amy', 'Ramirez', 'amy.ramirez@example.com', '2020-04-11', 4500),
(39, 'Brian', 'Campbell', 'brian.campbell@example.com', '2019-09-02', 3900),
(40, 'Angela', 'Mitchell', 'angela.mitchell@example.com', '2018-06-14', 4200),
(41, 'Edward', 'Roberts', 'edward.roberts@example.com', '2021-03-19', 4100),
(42, 'Rebecca', 'Carter', 'rebecca.carter@example.com', '2020-01-25', 3500),
(43, 'Michelle', 'Phillips', 'michelle.phillips@example.com', '2019-07-28', 4400),
(44, 'Jason', 'Parker', 'jason.parker@example.com', '2018-03-11', 4600),
(45, 'Gary', 'Evans', 'gary.evans@example.com', '2021-02-14', 4200),
(46, 'Helen', 'Edwards', 'helen.edwards@example.com', '2020-05-27', 4000),
(47, 'Scott', 'Collins', 'scott.collins@example.com', '2019-12-04', 3700),
(48, 'Sharon', 'Stewart', 'sharon.stewart@example.com', '2018-09-25', 4300),
(49, 'Eric', 'Sanchez', 'eric.sanchez@example.com', '2021-06-30', 4500),
(50, 'Nancy', 'Morris', 'nancy.morris@example.com', '2020-03-09', 3900);

### Insertar datos en la tabla de Transacciones

In [ ]:
-- Insertar datos en la tabla de Transacciones
INSERT INTO Transactions (TransactionID, CustomerID, Product, TransactionDate, Amount) VALUES
(1, 1, 'Internet Plan', '2022-01-10', 50),
(2, 2, 'Phone Plan', '2022-02-15', 30),
(3, 3, 'TV Plan', '2021-11-20', 70),
(4, 4, 'Internet Plan', '2022-02-05', 50),
(5, 5, 'Phone Plan', '2021-09-12', 40),
(6, 6, 'TV Plan', '2021-10-11', 60),
(7, 7, 'Internet Plan', '2021-08-21', 50),
(8, 8, 'Phone Plan', '2022-01-15', 40),
(9, 9, 'TV Plan', '2021-07-18', 70),
(10, 10, 'Internet Plan', '2022-02-09', 50),
(11, 11, 'Phone Plan', '2021-05-22', 30),
(12, 12, 'Internet Plan', '2021-06-05', 50),
(13, 13, 'TV Plan', '2022-01-02', 70),
(14, 14, 'Phone Plan', '2021-09-10', 40),
(15, 15, 'Internet Plan', '2021-11-20', 50),
(16, 16, 'TV Plan', '2022-02-11', 60),
(17, 17, 'Internet Plan', '2021-04-15', 50),
(18, 18, 'Phone Plan', '2021-12-05', 30),
(19, 19, 'TV Plan', '2021-07-28', 70),
(20, 20, 'Internet Plan', '2022-01-18', 50),
(21, 21, 'Phone Plan', '2021-10-10', 40),
(22, 22, 'TV Plan', '2021-09-30', 60),
(23, 23, 'Internet Plan', '2021-12-20', 50),
(24, 24, 'Phone Plan', '2022-01-25', 30),
(25, 25, 'TV Plan', '2021-08-14', 70),
(26, 26, 'Internet Plan', '2022-02-02', 50),
(27, 27, 'Phone Plan', '2021-06-17', 40),
(28, 28, 'TV Plan', '2021-09-15', 60),
(29, 29, 'Internet Plan', '2021-10-29', 50),
(30, 30, 'Phone Plan', '2022-01-05', 30),
(31, 31, 'TV Plan', '2021-11-11', 70),
(32, 32, 'Internet Plan', '2022-02-18', 50),
(33, 33, 'Phone Plan', '2021-07-22', 40),
(34, 34, 'TV Plan', '2021-08-31', 60),
(35, 35, 'Internet Plan', '2021-12-09', 50),
(36, 36, 'Phone Plan', '2022-01-20', 30),
(37, 37, 'TV Plan', '2021-09-03', 70),
(38, 38, 'Internet Plan', '2021-10-12', 50),
(39, 39, 'Phone Plan', '2022-01-07', 40),
(40, 40, 'TV Plan', '2021-11-24', 60),
(41, 41, 'Internet Plan', '2021-07-25', 50),
(42, 42, 'Phone Plan', '2022-02-15', 30),
(43, 43, 'TV Plan', '2021-06-09', 70),
(44, 44, 'Internet Plan', '2021-12-12', 50),
(45, 45, 'Phone Plan', '2022-01-18', 40),
(46, 46, 'TV Plan', '2021-08-25', 60),
(47, 47, 'Internet Plan', '2022-01-13', 50),
(48, 48, 'Phone Plan', '2021-10-01', 30),
(49, 49, 'TV Plan', '2021-09-19', 70),
(50, 50, 'Internet Plan', '2022-02-10', 50);

## Para MYSQL Workbench

### Creaci√≥n de la base de datos y tablas

In [ ]:
-- Crear la base de datos
CREATE DATABASE TelecomDB;

-- Usar la base de datos
USE TelecomDB;

-- Crear la tabla de Empleados
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(50),
    HireDate DATE,
    Salary DECIMAL(10, 2)
);

-- Crear la tabla de Clientes
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(50),
    SignupDate DATE,
    MonthlyIncome DECIMAL(10, 2)
);

-- Crear la tabla de Transacciones
CREATE TABLE Transactions (
    TransactionID INT PRIMARY KEY,
    CustomerID INT,
    Product VARCHAR(50),
    TransactionDate DATE,
    Amount DECIMAL(10, 2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

### Insertar datos sint√©ticos en la tabla de Empleados

In [ ]:
-- Insertar datos en la tabla de Empleados
INSERT INTO Employees (EmployeeID, FirstName, LastName, Email, HireDate, Salary) VALUES
(1, 'Alice', 'Miller', 'alice.miller@example.com', '2019-03-10', 58000),
(2, 'Bob', 'Brown', 'bob.brown@example.com', '2020-05-22', 54000),
(3, 'Charlie', 'Johnson', 'charlie.johnson@example.com', '2018-07-14', 62000),
(4, 'Diana', 'Garcia', 'diana.garcia@example.com', '2021-01-25', 60000),
(5, 'Evan', 'Martinez', 'evan.martinez@example.com', '2017-09-18', 67000),
(6, 'Fiona', 'Hernandez', 'fiona.hernandez@example.com', '2020-11-29', 63000),
(7, 'George', 'Lopez', 'george.lopez@example.com', '2016-05-23', 64000),
(8, 'Hannah', 'Gonzalez', 'hannah.gonzalez@example.com', '2018-03-17', 59000),
(9, 'Ivan', 'Wilson', 'ivan.wilson@example.com', '2019-08-30', 65000),
(10, 'Julia', 'Anderson', 'julia.anderson@example.com', '2021-02-11', 62000),
(11, 'Kevin', 'Thomas', 'kevin.thomas@example.com', '2015-12-14', 66000),
(12, 'Laura', 'Taylor', 'laura.taylor@example.com', '2018-06-26', 61000),
(13, 'Mike', 'Moore', 'mike.moore@example.com', '2019-04-19', 57000),
(14, 'Nina', 'Jackson', 'nina.jackson@example.com', '2020-10-12', 58000),
(15, 'Oscar', 'Martin', 'oscar.martin@example.com', '2017-01-20', 59000),
(16, 'Paula', 'Lee', 'paula.lee@example.com', '2019-05-15', 62000),
(17, 'Quincy', 'Perez', 'quincy.perez@example.com', '2016-08-08', 64000),
(18, 'Rita', 'Thompson', 'rita.thompson@example.com', '2018-04-27', 67000),
(19, 'Sam', 'White', 'sam.white@example.com', '2021-03-03', 60000),
(20, 'Tina', 'Harris', 'tina.harris@example.com', '2017-12-21', 61000),
(21, 'Uma', 'Sanchez', 'uma.sanchez@example.com', '2018-09-15', 63000),
(22, 'Victor', 'Clark', 'victor.clark@example.com', '2019-07-28', 58000),
(23, 'Wendy', 'Ramirez', 'wendy.ramirez@example.com', '2020-11-04', 61000),
(24, 'Xander', 'Lewis', 'xander.lewis@example.com', '2017-02-11', 66000),
(25, 'Yvonne', 'Robinson', 'yvonne.robinson@example.com', '2018-08-30', 64000),
(26, 'Zach', 'Walker', 'zach.walker@example.com', '2019-01-18', 60000),
(27, 'Alan', 'Young', 'alan.young@example.com', '2020-04-09', 62000),
(28, 'Bella', 'Allen', 'bella.allen@example.com', '2017-06-25', 58000),
(29, 'Carter', 'King', 'carter.king@example.com', '2018-12-10', 61000),
(30, 'Daisy', 'Scott', 'daisy.scott@example.com', '2019-03-19', 65000),
(31, 'Ethan', 'Green', 'ethan.green@example.com', '2020-09-14', 67000),
(32, 'Faith', 'Baker', 'faith.baker@example.com', '2017-07-20', 59000),
(33, 'Grant', 'Adams', 'grant.adams@example.com', '2018-02-05', 62000),
(34, 'Holly', 'Nelson', 'holly.nelson@example.com', '2019-05-30', 61000),
(35, 'Ian', 'Carter', 'ian.carter@example.com', '2021-04-22', 63000),
(36, 'Jenna', 'Mitchell', 'jenna.mitchell@example.com', '2017-10-03', 58000),
(37, 'Kyle', 'Roberts', 'kyle.roberts@example.com', '2018-06-29', 62000),
(38, 'Liam', 'Phillips', 'liam.phillips@example.com', '2019-12-18', 59000),
(39, 'Megan', 'Evans', 'megan.evans@example.com', '2020-08-11', 61000),
(40, 'Nathan', 'Edwards', 'nathan.edwards@example.com', '2017-11-27', 64000),
(41, 'Olivia', 'Collins', 'olivia.collins@example.com', '2018-04-21', 67000),
(42, 'Peter', 'Stewart', 'peter.stewart@example.com', '2019-10-02', 60000),
(43, 'Quinn', 'Sanchez', 'quinn.sanchez@example.com', '2021-01-17', 61000),
(44, 'Rachel', 'Morris', 'rachel.morris@example.com', '2017-05-29', 58000),
(45, 'Sean', 'Rogers', 'sean.rogers@example.com', '2018-03-24', 63000),
(46, 'Tara', 'Reed', 'tara.reed@example.com', '2019-07-22', 62000),
(47, 'Uriel', 'Cook', 'uriel.cook@example.com', '2020-02-28', 59000),
(48, 'Vera', 'Morgan', 'vera.morgan@example.com', '2017-08-19', 61000),
(49, 'Wyatt', 'Bell', 'wyatt.bell@example.com', '2018-01-13', 67000),
(50, 'Zoe', 'Murphy', 'zoe.murphy@example.com', '2019-11-11', 64000);

In [ ]:
### Insertar datos sint√©ticos en la tabla de Clientes

In [ ]:
-- Insertar datos en la tabla de Clientes
INSERT INTO Customers (CustomerID, FirstName, LastName, Email, SignupDate, MonthlyIncome) VALUES
(1, 'Adam', 'Smith', 'adam.smith@example.com', '2021-03-11', 4500),
(2, 'Betty', 'Johnson', 'betty.johnson@example.com', '2020-05-22', 4800),
(3, 'Charlie', 'Brown', 'charlie.brown@example.com', '2019-07-14', 5000),
(4, 'Daisy', 'Williams', 'daisy.williams@example.com', '2021-01-25', 5200),
(5, 'Ethan', 'Jones', 'ethan.jones@example.com', '2017-09-18', 5300),
(6, 'Fiona', 'Miller', 'fiona.miller@example.com', '2020-11-29', 4700),
(7, 'George', 'Davis', 'george.davis@example.com', '2016-05-23', 5100),
(8, 'Holly', 'Garcia', 'holly.garcia@example.com', '2018-03-17', 4900),
(9, 'Ian', 'Rodriguez', 'ian.rodriguez@example.com', '2019-08-30', 4500),
(10, 'Jane', 'Martinez', 'jane.martinez@example.com', '2021-02-11', 4700),
(11, 'Kyle', 'Hernandez', 'kyle.hernandez@example.com', '2015-12-14', 5000),
(12, 'Laura', 'Lopez', 'laura.lopez@example.com', '2018-06-26', 4800),
(13, 'Mike', 'Gonzalez', 'mike.gonzalez@example.com', '2019-04-19', 4900),
(14, 'Nina', 'Wilson', 'nina.wilson@example.com', '2020-10-12', 5100),
(15, 'Oscar', 'Anderson', 'oscar.anderson@example.com', '2017-01-20', 5300),
(16, 'Paula', 'Thomas', 'paula.thomas@example.com', '2019-05-15', 4500),
(17, 'Quincy', 'Taylor', 'quincy.taylor@example.com', '2016-08-08', 4700),
(18, 'Rachel', 'Moore', 'rachel.moore@example.com', '2018-04-27', 4900),
(19, 'Sam', 'Jackson', 'sam.jackson@example.com', '2021-03-03', 5000),
(20, 'Tina', 'Martin', 'tina.martin@example.com', '2017-12-21', 4800),
(21, 'Uma', 'Lee', 'uma.lee@example.com', '2018-09-15', 4700),
(22, 'Victor', 'Perez', 'victor.perez@example.com', '2019-07-28', 5100),
(23, 'Wendy', 'Thompson', 'wendy.thompson@example.com', '2020-11-04', 5300),
(24, 'Xander', 'White', 'xander.white@example.com', '2017-02-11', 4500),
(25, 'Yvonne', 'Harris', 'yvonne.harris@example.com', '2018-08-30', 4700),
(26, 'Zach', 'Sanchez', 'zach.sanchez@example.com', '2019-01-18', 4900),
(27, 'Alan', 'Clark', 'alan.clark@example.com', '2020-04-09', 5000),
(28, 'Bella', 'Ramirez', 'bella.ramirez@example.com', '2017-06-25', 4800),
(29, 'Carter', 'Lewis', 'carter.lewis@example.com', '2018-12-10', 4700),
(30, 'Daisy', 'Robinson', 'daisy.robinson@example.com', '2019-03-19', 5100),
(31, 'Ethan', 'Walker', 'ethan.walker@example.com', '2020-09-14', 5300),
(32, 'Faith', 'Young', 'faith.young@example.com', '2017-07-20', 4500),
(33, 'Grant', 'Allen', 'grant.allen@example.com', '2018-02-05', 4700),
(34, 'Holly', 'King', 'holly.king@example.com', '2019-05-30', 4900),
(35, 'Ian', 'Scott', 'ian.scott@example.com', '2021-04-22', 5000),
(36, 'Jenna', 'Green', 'jenna.green@example.com', '2017-10-03', 4800),
(37, 'Kyle', 'Baker', 'kyle.baker@example.com', '2018-06-29', 4700),
(38, 'Liam', 'Adams', 'liam.adams@example.com', '2019-12-18', 5100),
(39, 'Megan', 'Nelson', 'megan.nelson@example.com', '2020-08-11', 5300),
(40, 'Nathan', 'Carter', 'nathan.carter@example.com', '2017-11-27', 4500),
(41, 'Olivia', 'Mitchell', 'olivia.mitchell@example.com', '2018-04-21', 4700),
(42, 'Peter', 'Roberts', 'peter.roberts@example.com', '2019-10-02', 4900),
(43, 'Quinn', 'Phillips', 'quinn.phillips@example.com', '2021-01-17', 5000),
(44, 'Rachel', 'Evans', 'rachel.evans@example.com', '2017-05-29', 4800),
(45, 'Sean', 'Edwards', 'sean.edwards@example.com', '2018-03-24', 4700),
(46, 'Tara', 'Collins', 'tara.collins@example.com', '2019-07-22', 5100),
(47, 'Uriel', 'Stewart', 'uriel.stewart@example.com', '2020-02-28', 5300),
(48, 'Vera', 'Sanchez', 'vera.sanchez@example.com', '2017-08-19', 4500),
(49, 'Wyatt', 'Morris', 'wyatt.morris@example.com', '2018-01-13', 4700),
(50, 'Zoe', 'Rogers', 'zoe.rogers@example.com', '2019-11-11', 4900);

In [ ]:
### Insertar datos sint√©ticos en la tabla de Transacciones

In [ ]:
-- Insertar datos en la tabla de Transacciones
INSERT INTO Transactions (TransactionID, CustomerID, Product, TransactionDate, Amount) VALUES
(1, 1, 'Internet Plan', '2022-01-10', 60),
(2, 2, 'Phone Plan', '2022-02-15', 40),
(3, 3, 'TV Plan', '2021-11-20', 80),
(4, 4, 'Internet Plan', '2022-02-05', 60),
(5, 5, 'Phone Plan', '2021-09-12', 50),
(6, 6, 'TV Plan', '2021-10-11', 70),
(7, 7, 'Internet Plan', '2021-08-21', 60),
(8, 8, 'Phone Plan', '2022-01-15', 50),
(9, 9, 'TV Plan', '2021-07-18', 80),
(10, 10, 'Internet Plan', '2022-02-09', 60),
(11, 11, 'Phone Plan', '2021-05-22', 40),
(12, 12, 'Internet Plan', '2021-06-05', 60),
(13, 13, 'TV Plan', '2022-01-02', 80),
(14, 14, 'Phone Plan', '2021-09-10', 50),
(15, 15, 'Internet Plan', '2021-11-20', 60),
(16, 16, 'TV Plan', '2022-02-11', 70),
(17, 17, 'Internet Plan', '2021-04-15', 60),
(18, 18, 'Phone Plan', '2021-12-05', 40),
(19, 19, 'TV Plan', '2021-07-28', 80),
(20, 20, 'Internet Plan', '2022-01-18', 60),
(21, 21, 'Phone Plan', '2021-10-10', 50),
(22, 22, 'TV Plan', '2021-09-30', 70),
(23, 23, 'Internet Plan', '2021-12-20', 60),
(24, 24, 'Phone Plan', '2022-01-25', 40),
(25, 25, 'TV Plan', '2021-08-14', 80),
(26, 26, 'Internet Plan', '2022-02-02', 60),
(27, 27, 'Phone Plan', '2021-06-17', 50),
(28, 28, 'TV Plan', '2021-09-15', 70),
(29, 29, 'Internet Plan', '2021-10-29', 60),
(30, 30, 'Phone Plan', '2022-01-05', 40),
(31, 31, 'TV Plan', '2021-11-11', 80),
(32, 32, 'Internet Plan', '2022-02-18', 60),
(33, 33, 'Phone Plan', '2021-07-22', 50),
(34, 34, 'TV Plan', '2021-08-31', 70),
(35, 35, 'Internet Plan', '2021-12-09', 60),
(36, 36, 'Phone Plan', '2022-01-20', 40),
(37, 37, 'TV Plan', '2021-09-03', 80),
(38, 38, 'Internet Plan', '2021-10-12', 60),
(39, 39, 'Phone Plan', '2022-01-07', 50),
(40, 40, 'TV Plan', '2021-11-24', 70),
(41, 41, 'Internet Plan', '2021-07-25', 60),
(42, 42, 'Phone Plan', '2022-02-15', 40),
(43, 43, 'TV Plan', '2021-06-09', 80),
(44, 44, 'Internet Plan', '2021-12-12', 60),
(45, 45, 'Phone Plan', '2022-01-18', 50),
(46, 46, 'TV Plan', '2021-08-25', 70),
(47, 47, 'Internet Plan', '2022-01-13', 60),
(48, 48, 'Phone Plan', '2021-10-01', 40),
(49, 49, 'TV Plan', '2021-09-19', 80),
(50, 50, 'Internet Plan', '2022-02-10', 60);

## Para MongoDB

## Crear y rellenar la colecci√≥n Employees

In [ ]:
// Conectar a la base de datos
use TelecomDB;

// Crear la colecci√≥n de Empleados y agregar datos
db.Employees.insertMany([
    {
        EmployeeID: 1,
        FirstName: 'Aaron',
        LastName: 'Smith',
        Email: 'aaron.smith@example.com',
        HireDate: new Date('2018-01-15'),
        Salary: 59000
    },
    {
        EmployeeID: 2,
        FirstName: 'Betty',
        LastName: 'Jones',
        Email: 'betty.jones@example.com',
        HireDate: new Date('2019-04-12'),
        Salary: 62000
    },
    {
        EmployeeID: 3,
        FirstName: 'Carl',
        LastName: 'Brown',
        Email: 'carl.brown@example.com',
        HireDate: new Date('2020-07-18'),
        Salary: 60000
    },
    {
        EmployeeID: 4,
        FirstName: 'Diana',
        LastName: 'Davis',
        Email: 'diana.davis@example.com',
        HireDate: new Date('2021-02-24'),
        Salary: 61000
    },
    {
        EmployeeID: 5,
        FirstName: 'Evan',
        LastName: 'Wilson',
        Email: 'evan.wilson@example.com',
        HireDate: new Date('2017-06-19'),
        Salary: 64000
    },
    {
        EmployeeID: 6,
        FirstName: 'Fiona',
        LastName: 'Clark',
        Email: 'fiona.clark@example.com',
        HireDate: new Date('2016-09-05'),
        Salary: 65000
    },
    {
        EmployeeID: 7,
        FirstName: 'George',
        LastName: 'Lewis',
        Email: 'george.lewis@example.com',
        HireDate: new Date('2018-03-10'),
        Salary: 63000
    },
    {
        EmployeeID: 8,
        FirstName: 'Hannah',
        LastName: 'Walker',
        Email: 'hannah.walker@example.com',
        HireDate: new Date('2019-11-21'),
        Salary: 58000
    },
    {
        EmployeeID: 9,
        FirstName: 'Ian',
        LastName: 'Hall',
        Email: 'ian.hall@example.com',
        HireDate: new Date('2020-05-15'),
        Salary: 62000
    },
    {
        EmployeeID: 10,
        FirstName: 'Julia',
        LastName: 'Allen',
        Email: 'julia.allen@example.com',
        HireDate: new Date('2021-01-10'),
        Salary: 61000
    },
    {
        EmployeeID: 11,
        FirstName: 'Kevin',
        LastName: 'Young',
        Email: 'kevin.young@example.com',
        HireDate: new Date('2017-10-12'),
        Salary: 60000
    },
    {
        EmployeeID: 12,
        FirstName: 'Laura',
        LastName: 'King',
        Email: 'laura.king@example.com',
        HireDate: new Date('2016-12-01'),
        Salary: 62000
    },
    {
        EmployeeID: 13,
        FirstName: 'Mike',
        LastName: 'Scott',
        Email: 'mike.scott@example.com',
        HireDate: new Date('2018-08-23'),
        Salary: 63000
    },
    {
        EmployeeID: 14,
        FirstName: 'Nina',
        LastName: 'Green',
        Email: 'nina.green@example.com',
        HireDate: new Date('2019-04-18'),
        Salary: 64000
    },
    {
        EmployeeID: 15,
        FirstName: 'Oscar',
        LastName: 'Adams',
        Email: 'oscar.adams@example.com',
        HireDate: new Date('2020-09-25'),
        Salary: 61000
    },
    {
        EmployeeID: 16,
        FirstName: 'Paula',
        LastName: 'Mitchell',
        Email: 'paula.mitchell@example.com',
        HireDate: new Date('2021-03-17'),
        Salary: 60000
    },
    {
        EmployeeID: 17,
        FirstName: 'Quincy',
        LastName: 'Roberts',
        Email: 'quincy.roberts@example.com',
        HireDate: new Date('2017-07-19'),
        Salary: 65000
    },
    {
        EmployeeID: 18,
        FirstName: 'Rachel',
        LastName: 'Phillips',
        Email: 'rachel.phillips@example.com',
        HireDate: new Date('2018-05-11'),
        Salary: 63000
    },
    {
        EmployeeID: 19,
        FirstName: 'Sam',
        LastName: 'Campbell',
        Email: 'sam.campbell@example.com',
        HireDate: new Date('2019-11-22'),
        Salary: 62000
    },
    {
        EmployeeID: 20,
        FirstName: 'Tina',
        LastName: 'Parker',
        Email: 'tina.parker@example.com',
        HireDate: new Date('2020-01-30'),
        Salary: 60000
    },
    {
        EmployeeID: 21,
        FirstName: 'Uma',
        LastName: 'Evans',
        Email: 'uma.evans@example.com',
        HireDate: new Date('2017-08-15'),
        Salary: 62000
    },
    {
        EmployeeID: 22,
        FirstName: 'Victor',
        LastName: 'Edwards',
        Email: 'victor.edwards@example.com',
        HireDate: new Date('2018-02-21'),
        Salary: 65000
    },
    {
        EmployeeID: 23,
        FirstName: 'Wendy',
        LastName: 'Collins',
        Email: 'wendy.collins@example.com',
        HireDate: new Date('2019-06-29'),
        Salary: 60000
    },
    {
        EmployeeID: 24,
        FirstName: 'Xander',
        LastName: 'Stewart',
        Email: 'xander.stewart@example.com',
        HireDate: new Date('2020-03-19'),
        Salary: 61000
    },
    {
        EmployeeID: 25,
        FirstName: 'Yvonne',
        LastName: 'Sanchez',
        Email: 'yvonne.sanchez@example.com',
        HireDate: new Date('2021-06-05'),
        Salary: 63000
    },
    {
        EmployeeID: 26,
        FirstName: 'Zach',
        LastName: 'Morris',
        Email: 'zach.morris@example.com',
        HireDate: new Date('2017-04-10'),
        Salary: 64000
    },
    {
        EmployeeID: 27,
        FirstName: 'Aaron',
        LastName: 'Rogers',
        Email: 'aaron.rogers@example.com',
        HireDate: new Date('2018-11-13'),
        Salary: 65000
    },
    {
        EmployeeID: 28,
        FirstName: 'Betty',
        LastName: 'Reed',
        Email: 'betty.reed@example.com',
        HireDate: new Date('2019-02-05'),
        Salary: 63000
    },
    {
        EmployeeID: 29,
        FirstName: 'Carl',
        LastName: 'Cook',
        Email: 'carl.cook@example.com',
        HireDate: new Date('2020-06-25'),
        Salary: 61000
    },
    {
        EmployeeID: 30,
        FirstName: 'Diana',
        LastName: 'Morgan',
        Email: 'diana.morgan@example.com',
        HireDate: new Date('2021-04-11'),
        Salary: 62000
    },
    {
        EmployeeID: 31,
        FirstName: 'Evan',
        LastName: 'Bell',
        Email: 'evan.bell@example.com',
        HireDate: new Date('2017-09-17'),
        Salary: 64000
    },
    {
        EmployeeID: 32,
        FirstName: 'Fiona',
        LastName: 'Murphy',
        Email: 'fiona.murphy@example.com',
        HireDate: new Date('2018-10-23'),
        Salary: 60000
    },
    {
        EmployeeID: 33,
        FirstName: 'George',
        LastName: 'Bailey',
        Email: 'george.bailey@example.com',
        HireDate: new Date('2019-05-29'),
        Salary: 63000
    },
    {
        EmployeeID: 34,
        FirstName: 'Hannah',
        LastName: 'Rivera',
        Email: 'hannah.rivera@example.com',
        HireDate: new Date('2020-12-14'),
        Salary: 65000
    },
    {
        EmployeeID: 35,
        FirstName: 'Ian',
        LastName: 'Cooper',
        Email: 'ian.cooper@example.com',
        HireDate: new Date('2021-08-07'),
        Salary: 62000
    },
    {
        EmployeeID: 36,
        FirstName: 'Julia',
        LastName: 'Richardson',
        Email: 'julia.richardson@example.com',
        HireDate: new Date('2017-03-19'),
        Salary: 64000
    },
    {
        EmployeeID: 37,
        FirstName: 'Kevin',
        LastName: 'Cox',
        Email: 'kevin.cox@example.com',
        HireDate: new Date('2018-11-10'),
        Salary: 65000
    },
    {
        EmployeeID: 38,
        FirstName: 'Laura',
        LastName: 'Howard',
        Email: 'laura.howard@example.com',
        HireDate: new Date('2019-03-16'),
        Salary: 63000
    },
    {
        EmployeeID: 39,
        FirstName: 'Mike',
        LastName: 'Ward',
        Email: 'mike.ward@example.com',
        HireDate: new Date('2020-07-25'),
        Salary: 61000
    },
    {
        EmployeeID: 40,
        FirstName: 'Nina',
        LastName: 'Torres',
        Email: 'nina.torres@example.com',
        HireDate: new Date('2021-01-28'),
        Salary: 62000
    },
    {
        EmployeeID: 41,
        FirstName: 'Oscar',
        LastName: 'Peterson',
        Email: 'oscar.peterson@example.com',
        HireDate: new Date('2017-11-20'),
        Salary: 64000
    },
    {
        EmployeeID: 42,
        FirstName: 'Paula',
        LastName: 'Gray',
        Email: 'paula.gray@example.com',
        HireDate: new Date('2018-06-15'),
        Salary: 60000
    },
    {
        EmployeeID: 43,
        FirstName: 'Quincy',
        LastName: 'Ramirez',
        Email: 'quincy.ramirez@example.com',
        HireDate: new Date('2019-09-22'),
        Salary: 63000
    },
    {
        EmployeeID: 44,
        FirstName: 'Rachel',
        LastName: 'James',
        Email: 'rachel.james@example.com',
        HireDate: new Date('2020-03-11'),
        Salary: 65000
    },
    {
        EmployeeID: 45,
        FirstName: 'Sam',
        LastName: 'Watson',
        Email: 'sam.watson@example.com',
        HireDate: new Date('2021-07-19'),
        Salary: 62000
    },
    {
        EmployeeID: 46,
        FirstName: 'Tina',
        LastName: 'Brooks',
        Email: 'tina.brooks@example.com',
        HireDate: new Date('2017-04-17'),
        Salary: 64000
    },
    {
        EmployeeID: 47,
        FirstName: 'Uma',
        LastName: 'Kelly',
        Email: 'uma.kelly@example.com',
        HireDate: new Date('2018-05-19'),
        Salary: 65000
    },
    {
        EmployeeID: 48,
        FirstName: 'Victor',
        LastName: 'Sanders',
        Email: 'victor.sanders@example.com',
        HireDate: new Date('2019-08-21'),
        Salary: 63000
    },
    {
        EmployeeID: 49,
        FirstName: 'Wendy',
        LastName: 'Price',
        Email: 'wendy.price@example.com',
        HireDate: new Date('2020-12-19'),
        Salary: 61000
    },
    {
        EmployeeID: 50,
        FirstName: 'Xander',
        LastName: 'Bennett',
        Email: 'xander.bennett@example.com',
        HireDate: new Date('2021-02-05'),
        Salary: 62000
    }
]);

## Crear y rellenar la colecci√≥n Customers

In [ ]:
// Crear colecci√≥n de Clientes y agregar datos
db.Customers.insertMany([
    {
        CustomerID: 1,
        FirstName: 'Amelia',
        LastName: 'Smith',
        Email: 'amelia.smith@example.com',
        SignupDate: new Date('2021-03-15'),
        MonthlyIncome: 4600
    },
    {
        CustomerID: 2,
        FirstName: 'Brian',
        LastName: 'Johnson',
        Email: 'brian.johnson@example.com',
        SignupDate: new Date('2020-05-25'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 3,
        FirstName: 'Clara',
        LastName: 'Brown',
        Email: 'clara.brown@example.com',
        SignupDate: new Date('2019-07-20'),
        MonthlyIncome: 5000
    },
    {
        CustomerID: 4,
        FirstName: 'David',
        LastName: 'Davis',
        Email: 'david.davis@example.com',
        SignupDate: new Date('2021-01-28'),
        MonthlyIncome: 5200
    },
    {
        CustomerID: 5,
        FirstName: 'Ella',
        LastName: 'Wilson',
        Email: 'ella.wilson@example.com',
        SignupDate: new Date('2017-09-22'),
        MonthlyIncome: 5300
    },
    {
        CustomerID: 6,
        FirstName: 'Frank',
        LastName: 'Clark',
        Email: 'frank.clark@example.com',
        SignupDate: new Date('2020-12-01'),
        MonthlyIncome: 4700
    },
    {
        CustomerID: 7,
        FirstName: 'Grace',
        LastName: 'Lewis',
        Email: 'grace.lewis@example.com',
        SignupDate: new Date('2016-06-10'),
        MonthlyIncome: 5100
    },
    {
        CustomerID: 8,
        FirstName: 'Henry',
        LastName: 'Walker',
        Email: 'henry.walker@example.com',
        SignupDate: new Date('2018-04-25'),
        MonthlyIncome: 4900
    },
    {
        CustomerID: 9,
        FirstName: 'Isla',
        LastName: 'Hall',
        Email: 'isla.hall@example.com',
        SignupDate: new Date('2019-09-30'),
        MonthlyIncome: 4600
    },
    {
        CustomerID: 10,
        FirstName: 'Jack',
        LastName: 'Allen',
        Email: 'jack.allen@example.com',
        SignupDate: new Date('2021-02-14'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 11,
        FirstName: 'Kara',
        LastName: 'Young',
        Email: 'kara.young@example.com',
        SignupDate: new Date('2015-12-24'),
        MonthlyIncome: 5000
    },
    {
        CustomerID: 12,
        FirstName: 'Leo',
        LastName: 'King',
        Email: 'leo.king@example.com',
        SignupDate: new Date('2018-07-29'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 13,
        FirstName: 'Mia',
        LastName: 'Scott',
        Email: 'mia.scott@example.com',
        SignupDate: new Date('2019-05-19'),
        MonthlyIncome: 4900
    },
    {
        CustomerID: 14,
        FirstName: 'Noah',
        LastName: 'Green',
        Email: 'noah.green@example.com',
        SignupDate: new Date('2020-11-12'),
        MonthlyIncome: 5100
    },
    {
        CustomerID: 15,
        FirstName: 'Olivia',
        LastName: 'Adams',
        Email: 'olivia.adams@example.com',
        SignupDate: new Date('2017-01-27'),
        MonthlyIncome: 5300
    },
    {
        CustomerID: 16,
        FirstName: 'Paul',
        LastName: 'Mitchell',
        Email: 'paul.mitchell@example.com',
        SignupDate: new Date('2019-06-15'),
        MonthlyIncome: 4600
    },
    {
        CustomerID: 17,
        FirstName: 'Quinn',
        LastName: 'Roberts',
        Email: 'quinn.roberts@example.com',
        SignupDate: new Date('2016-08-12'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 18,
        FirstName: 'Ruby',
        LastName: 'Phillips',
        Email: 'ruby.phillips@example.com',
        SignupDate: new Date('2018-05-30'),
        MonthlyIncome: 4900
    },
    {
        CustomerID: 19,
        FirstName: 'Steve',
        LastName: 'Campbell',
        Email: 'steve.campbell@example.com',
        SignupDate: new Date('2021-03-13'),
        MonthlyIncome: 5000
    },
    {
        CustomerID: 20,
        FirstName: 'Tina',
        LastName: 'Parker',
        Email: 'tina.parker@example.com',
        SignupDate: new Date('2017-12-21'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 21,
        FirstName: 'Uma',
        LastName: 'Evans',
        Email: 'uma.evans@example.com',
        SignupDate: new Date('2018-10-17'),
        MonthlyIncome: 4700
    },
    {
        CustomerID: 22,
        FirstName: 'Victor',
        LastName: 'Edwards',
        Email: 'victor.edwards@example.com',
        SignupDate: new Date('2019-07-29'),
        MonthlyIncome: 5100
    },
    {
        CustomerID: 23,
        FirstName: 'Wendy',
        LastName: 'Collins',
        Email: 'wendy.collins@example.com',
        SignupDate: new Date('2020-12-15'),
        MonthlyIncome: 5300
    },
    {
        CustomerID: 24,
        FirstName: 'Xavier',
        LastName: 'Stewart',
        Email: 'xavier.stewart@example.com',
        SignupDate: new Date('2017-02-18'),
        MonthlyIncome: 4600
    },
    {
        CustomerID: 25,
        FirstName: 'Yara',
        LastName: 'Sanchez',
        Email: 'yara.sanchez@example.com',
        SignupDate: new Date('2018-08-28'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 26,
        FirstName: 'Zane',
        LastName: 'Morris',
        Email: 'zane.morris@example.com',
        SignupDate: new Date('2019-01-15'),
        MonthlyIncome: 4900
    },
    {
        CustomerID: 27,
        FirstName: 'Alex',
        LastName: 'Rogers',
        Email: 'alex.rogers@example.com',
        SignupDate: new Date('2020-04-08'),
        MonthlyIncome: 5000
    },
    {
        CustomerID: 28,
        FirstName: 'Bella',
        LastName: 'Reed',
        Email: 'bella.reed@example.com',
        SignupDate: new Date('2017-06-20'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 29,
        FirstName: 'Carter',
        LastName: 'Cook',
        Email: 'carter.cook@example.com',
        SignupDate: new Date('2018-12-05'),
        MonthlyIncome: 4700
    },
    {
        CustomerID: 30,
        FirstName: 'Daisy',
        LastName: 'Morgan',
        Email: 'daisy.morgan@example.com',
        SignupDate: new Date('2019-03-22'),
        MonthlyIncome: 5100
    },
    {
        CustomerID: 31,
        FirstName: 'Evan',
        LastName: 'Bell',
        Email: 'evan.bell@example.com',
        SignupDate: new Date('2020-09-12'),
        MonthlyIncome: 5300
    },
    {
        CustomerID: 32,
        FirstName: 'Fiona',
        LastName: 'Murphy',
        Email: 'fiona.murphy@example.com',
        SignupDate: new Date('2017-07-21'),
        MonthlyIncome: 4600
    },
    {
        CustomerID: 33,
        FirstName: 'George',
        LastName: 'Bailey',
        Email: 'george.bailey@example.com',
        SignupDate: new Date('2018-02-25'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 34,
        FirstName: 'Hannah',
        LastName: 'Rivera',
        Email: 'hannah.rivera@example.com',
        SignupDate: new Date('2019-06-12'),
        MonthlyIncome: 4900
    },
    {
        CustomerID: 35,
        FirstName: 'Ian',
        LastName: 'Cooper',
        Email: 'ian.cooper@example.com',
        SignupDate: new Date('2021-04-15'),
        MonthlyIncome: 5000
    },
    {
        CustomerID: 36,
        FirstName: 'Julia',
        LastName: 'Richardson',
        Email: 'julia.richardson@example.com',
        SignupDate: new Date('2017-10-08'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 37,
        FirstName: 'Kevin',
        LastName: 'Cox',
        Email: 'kevin.cox@example.com',
        SignupDate: new Date('2018-11-14'),
        MonthlyIncome: 4700
    },
    {
        CustomerID: 38,
        FirstName: 'Laura',
        LastName: 'Howard',
        Email: 'laura.howard@example.com',
        SignupDate: new Date('2019-03-20'),
        MonthlyIncome: 5100
    },
    {
        CustomerID: 39,
        FirstName: 'Mike',
        LastName: 'Ward',
        Email: 'mike.ward@example.com',
        SignupDate: new Date('2020-07-24'),
        MonthlyIncome: 5300
    },
    {
        CustomerID: 40,
        FirstName: 'Nina',
        LastName: 'Torres',
        Email: 'nina.torres@example.com',
        SignupDate: new Date('2021-01-28'),
        MonthlyIncome: 4600
    },
    {
        CustomerID: 41,
        FirstName: 'Oscar',
        LastName: 'Peterson',
        Email: 'oscar.peterson@example.com',
        SignupDate: new Date('2017-11-20'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 42,
        FirstName: 'Paula',
        LastName: 'Gray',
        Email: 'paula.gray@example.com',
        SignupDate: new Date('2018-06-15'),
        MonthlyIncome: 4900
    },
    {
        CustomerID: 43,
        FirstName: 'Quincy',
        LastName: 'Ramirez',
        Email: 'quincy.ramirez@example.com',
        SignupDate: new Date('2019-09-22'),
        MonthlyIncome: 5000
    },
    {
        CustomerID: 44,
        FirstName: 'Rachel',
        LastName: 'James',
        Email: 'rachel.james@example.com',
        SignupDate: new Date('2020-03-11'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 45,
        FirstName: 'Sam',
        LastName: 'Watson',
        Email: 'sam.watson@example.com',
        SignupDate: new Date('2021-07-19'),
        MonthlyIncome: 4700
    },
    {
        CustomerID: 46,
        FirstName: 'Tina',
        LastName: 'Brooks',
        Email: 'tina.brooks@example.com',
        SignupDate: new Date('2017-04-17'),
        MonthlyIncome: 5100
    },
    {
        CustomerID: 47,
        FirstName: 'Uma',
        LastName: 'Kelly',
        Email: 'uma.kelly@example.com',
        SignupDate: new Date('2018-05-19'),
        MonthlyIncome: 5300
    },
    {
        CustomerID: 48,
        FirstName: 'Victor',
        LastName: 'Sanders',
        Email: 'victor.sanders@example.com',
        SignupDate: new Date('2019-08-21'),
        MonthlyIncome: 4600
    },
    {
        CustomerID: 49,
        FirstName: 'Wendy',
        LastName: 'Price',
        Email: 'wendy.price@example.com',
        SignupDate: new Date('2020-12-19'),
        MonthlyIncome: 4800
    },
    {
        CustomerID: 50,
        FirstName: 'Xander',
        LastName: 'Bennett',
        Email: 'xander.bennett@example.com',
        SignupDate: new Date('2021-02-05'),
        MonthlyIncome: 4900
    }
]);

## Crear y rellenar la colecci√≥n Transactions

In [ ]:
// Crear colecci√≥n de Transacciones y agregar datos
db.Transactions.insertMany([
    {
        TransactionID: 1,
        CustomerID: 1,
        Product: 'Internet Plan',
        TransactionDate: new Date('2022-01-10'),
        Amount: 55
    },
    {
        TransactionID: 2,
        CustomerID: 2,
        Product: 'Phone Plan',
        TransactionDate: new Date('2022-02-15'),
        Amount: 35
    },
    {
        TransactionID: 3,
        CustomerID: 3,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-11-20'),
        Amount: 75
    },
    {
        TransactionID: 4,
        CustomerID: 4,
        Product: 'Internet Plan',
        TransactionDate: new Date('2022-02-05'),
        Amount: 55
    },
    {
        TransactionID: 5,
        CustomerID: 5,
        Product: 'Phone Plan',
        TransactionDate: new Date('2021-09-12'),
        Amount: 45
    },
    {
        TransactionID: 6,
        CustomerID: 6,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-10-11'),
        Amount: 65
    },
    {
        TransactionID: 7,
        CustomerID: 7,
        Product: 'Internet Plan',
        TransactionDate: new Date('2021-08-21'),
        Amount: 55
    },
    {
        TransactionID: 8,
        CustomerID: 8,
        Product: 'Phone Plan',
        TransactionDate: new Date('2022-01-15'),
        Amount: 45
    },
    {
        TransactionID: 9,
        CustomerID: 9,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-07-18'),
        Amount: 75
    },
    {
        TransactionID: 10,
        CustomerID: 10,
        Product: 'Internet Plan',
        TransactionDate: new Date('2022-02-09'),
        Amount: 55
    },
    {
        TransactionID: 11,
        CustomerID: 11,
        Product: 'Phone Plan',
        TransactionDate: new Date('2021-05-22'),
        Amount: 35
    },
    {
        TransactionID: 12,
        CustomerID: 12,
        Product: 'Internet Plan',
        TransactionDate: new Date('2021-06-05'),
        Amount: 55
    },
    {
        TransactionID: 13,
        CustomerID: 13,
        Product: 'TV Plan',
        TransactionDate: new Date('2022-01-02'),
        Amount: 75
    },
    {
        TransactionID: 14,
        CustomerID: 14,
        Product: 'Phone Plan',
        TransactionDate: new Date('2021-09-10'),
        Amount: 45
    },
    {
        TransactionID: 15,
        CustomerID: 15,
        Product: 'Internet Plan',
        TransactionDate: new Date('2021-11-20'),
        Amount: 55
    },
    {
        TransactionID: 16,
        CustomerID: 16,
        Product: 'TV Plan',
        TransactionDate: new Date('2022-02-11'),
        Amount: 65
    },
    {
        TransactionID: 17,
        CustomerID: 17,
        Product: 'Internet Plan',
        TransactionDate: new Date('2021-04-15'),
        Amount: 55
    },
    {
        TransactionID: 18,
        CustomerID: 18,
        Product: 'Phone Plan',
        TransactionDate: new Date('2021-12-05'),
        Amount: 35
    },
    {
        TransactionID: 19,
        CustomerID: 19,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-07-28'),
        Amount: 75
    },
    {
        TransactionID: 20,
        CustomerID: 20,
        Product: 'Internet Plan',
        TransactionDate: new Date('2022-01-18'),
        Amount: 55
    },
    {
        TransactionID: 21,
        CustomerID: 21,
        Product: 'Phone Plan',
        TransactionDate: new Date('2021-10-10'),
        Amount: 45
    },
    {
        TransactionID: 22,
        CustomerID: 22,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-09-30'),
        Amount: 65
    },
    {
        TransactionID: 23,
        CustomerID: 23,
        Product: 'Internet Plan',
        TransactionDate: new Date('2021-12-20'),
        Amount: 55
    },
    {
        TransactionID: 24,
        CustomerID: 24,
        Product: 'Phone Plan',
        TransactionDate: new Date('2022-01-25'),
        Amount: 35
    },
    {
        TransactionID: 25,
        CustomerID: 25,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-08-14'),
        Amount: 75
    },
    {
        TransactionID: 26,
        CustomerID: 26,
        Product: 'Internet Plan',
        TransactionDate: new Date('2022-02-02'),
        Amount: 55
    },
    {
        TransactionID: 27,
        CustomerID: 27,
        Product: 'Phone Plan',
        TransactionDate: new Date('2021-06-17'),
        Amount: 45
    },
    {
        TransactionID: 28,
        CustomerID: 28,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-09-15'),
        Amount: 65
    },
    {
        TransactionID: 29,
        CustomerID: 29,
        Product: 'Internet Plan',
        TransactionDate: new Date('2021-10-29'),
        Amount: 55
    },
    {
        TransactionID: 30,
        CustomerID: 30,
        Product: 'Phone Plan',
        TransactionDate: new Date('2022-01-05'),
        Amount: 35
    },
    {
        TransactionID: 31,
        CustomerID: 31,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-11-11'),
        Amount: 75
    },
    {
        TransactionID: 32,
        CustomerID: 32,
        Product: 'Internet Plan',
        TransactionDate: new Date('2022-02-18'),
        Amount: 55
    },
    {
        TransactionID: 33,
        CustomerID: 33,
        Product: 'Phone Plan',
        TransactionDate: new Date('2021-07-22'),
        Amount: 45
    },
    {
        TransactionID: 34,
        CustomerID: 34,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-08-31'),
        Amount: 65
    },
    {
        TransactionID: 35,
        CustomerID: 35,
        Product: 'Internet Plan',
        TransactionDate: new Date('2021-12-09'),
        Amount: 55
    },
    {
        TransactionID: 36,
        CustomerID: 36,
        Product: 'Phone Plan',
        TransactionDate: new Date('2022-01-20'),
        Amount: 35
    },
    {
        TransactionID: 37,
        CustomerID: 37,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-09-03'),
        Amount: 75
    },
    {
        TransactionID: 38,
        CustomerID: 38,
        Product: 'Internet Plan',
        TransactionDate: new Date('2021-10-12'),
        Amount: 55
    },
    {
        TransactionID: 39,
        CustomerID: 39,
        Product: 'Phone Plan',
        TransactionDate: new Date('2022-01-07'),
        Amount: 45
    },
    {
        TransactionID: 40,
        CustomerID: 40,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-11-24'),
        Amount: 65
    },
    {
        TransactionID: 41,
        CustomerID: 41,
        Product: 'Internet Plan',
        TransactionDate: new Date('2021-07-25'),
        Amount: 55
    },
    {
        TransactionID: 42,
        CustomerID: 42,
        Product: 'Phone Plan',
        TransactionDate: new Date('2022-02-15'),
        Amount: 35
    },
    {
        TransactionID: 43,
        CustomerID: 43,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-06-09'),
        Amount: 75
    },
    {
        TransactionID: 44,
        CustomerID: 44,
        Product: 'Internet Plan',
        TransactionDate: new Date('2021-12-12'),
        Amount: 55
    },
    {
        TransactionID: 45,
        CustomerID: 45,
        Product: 'Phone Plan',
        TransactionDate: new Date('2022-01-18'),
        Amount: 45
    },
    {
        TransactionID: 46,
        CustomerID: 46,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-08-25'),
        Amount: 65
    },
    {
        TransactionID: 47,
        CustomerID: 47,
        Product: 'Internet Plan',
        TransactionDate: new Date('2022-01-13'),
        Amount: 55
    },
    {
        TransactionID: 48,
        CustomerID: 48,
        Product: 'Phone Plan',
        TransactionDate: new Date('2021-10-01'),
        Amount: 35
    },
    {
        TransactionID: 49,
        CustomerID: 49,
        Product: 'TV Plan',
        TransactionDate: new Date('2021-09-19'),
        Amount: 75
    },
    {
        TransactionID: 50,
        CustomerID: 50,
        Product: 'Internet Plan',
        TransactionDate: new Date('2022-02-10'),
        Amount: 55
    }
]);

# Siguiente paso:  
# Crear las conexiones a las distintas bases de datos

## Conectarse a la base de datos de SQL Server Management Studio:

Usar SQLAlchemy para conectarse y extraer datos en un DataFrame de Pandas

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Reemplaza con tu cadena de conexi√≥n a SQL Server
engine = create_engine('mssql+pyodbc://username:password@server/database?driver=SQL+Server')

# Ejecutar consulta y cargar datos en un DataFrame
employees_sql = pd.read_sql_query('SELECT * FROM Employees', engine)
customers_sql = pd.read_sql_query('SELECT * FROM Customers', engine)
transactions_sql = pd.read_sql_query('SELECT * FROM Transactions', engine)

## Conexi√≥n a MySQL y extracci√≥n de datos:

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Reemplaza con tu cadena de conexi√≥n a MySQL
engine = create_engine('mysql+pymysql://username:password@host:port/database')

# Ejecutar consulta y cargar datos en un DataFrame
employees_mysql = pd.read_sql_query('SELECT * FROM Employees', engine)
customers_mysql = pd.read_sql_query('SELECT * FROM Customers', engine)
transactions_mysql = pd.read_sql_query('SELECT * FROM Transactions', engine)

## Conexi√≥n a MongoDB y extracci√≥n de datos:

In [ ]:
from pymongo import MongoClient
import pandas as pd

# Conectar a MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['TelecomDB']

# Extraer datos de las colecciones
employees_mongo = pd.DataFrame(list(db.Employees.find()))
customers_mongo = pd.DataFrame(list(db.Customers.find()))
transactions_mongo = pd.DataFrame(list(db.Transactions.find()))

# Eliminar el campo '_id' generado por MongoDB
employees_mongo.drop(columns=['_id'], inplace=True)
customers_mongo.drop(columns=['_id'], inplace=True)
transactions_mongo.drop(columns=['_id'], inplace=True)

##  Unir los DataFrames:

In [ ]:
# Unir DataFrames de Employees
employees = pd.concat([employees_sql, employees_mysql, employees_mongo], ignore_index=True)

# Unir DataFrames de Customers
customers = pd.concat([customers_sql, customers_mysql, customers_mongo], ignore_index=True)

# Unir DataFrames de Transactions
transactions = pd.concat([transactions_sql, transactions_mysql, transactions_mongo], ignore_index=True)

# Opcional: guardar el DataFrame combinado en un archivo CSV
employees.to_csv('combined_employees.csv', index=False)
customers.to_csv('combined_customers.csv', index=False)
transactions.to_csv('combined_transactions.csv', index=False)

## 5. Ejemplo completo

In [ ]:
from sqlalchemy import create_engine
from pymongo import MongoClient
import pandas as pd

# Conexi√≥n a SQL Server
engine_sql = create_engine('mssql+pyodbc://username:password@server/database?driver=SQL+Server')
employees_sql = pd.read_sql_query('SELECT * FROM Employees', engine_sql)
customers_sql = pd.read_sql_query('SELECT * FROM Customers', engine_sql)
transactions_sql = pd.read_sql_query('SELECT * FROM Transactions', engine_sql)

# Conexi√≥n a MySQL
engine_mysql = create_engine('mysql+pymysql://username:password@host:port/database')
employees_mysql = pd.read_sql_query('SELECT * FROM Employees', engine_mysql)
customers_mysql = pd.read_sql_query('SELECT * FROM Customers', engine_mysql)
transactions_mysql = pd.read_sql_query('SELECT * FROM Transactions', engine_mysql)

# Conexi√≥n a MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['TelecomDB']
employees_mongo = pd.DataFrame(list(db.Employees.find()))
customers_mongo = pd.DataFrame(list(db.Customers.find()))
transactions_mongo = pd.DataFrame(list(db.Transactions.find()))
employees_mongo.drop(columns=['_id'], inplace=True)
customers_mongo.drop(columns=['_id'], inplace=True)
transactions_mongo.drop(columns=['_id'], inplace=True)

# Unir DataFrames
employees_combined = pd.concat([employees_sql, employees_mysql, employees_mongo], ignore_index=True)
customers_combined = pd.concat([customers_sql, customers_mysql, customers_mongo], ignore_index=True)
transactions_combined = pd.concat([transactions_sql, transactions_mysql, transactions_mongo], ignore_index=True)

# Guardar en CSV
employees_combined.to_csv('combined_employees.csv', index=False)
customers_combined.to_csv('combined_customers.csv', index=False)
transactions_combined.to_csv('combined_transactions.csv', index=False)

## cadena de conexion

In [ ]:
mongodb+srv://student77:tajamar77@prueba.6okhd9u.mongodb.net/?retryWrites=true&w=majority&appName=Prueba

In [ ]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://student77:tajamar77@prueba.6okhd9u.mongodb.net/?retryWrites=true&w=majority&appName=Prueba"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

In [3]:
from pymongo import MongoClient

# Reemplaza con la cadena de conexi√≥n proporcionada por el profesor
uri = "mongodb+srv://student77:tajamar77@prueba.6okhd9u.mongodb.net/?retryWrites=true&w=majority&appName=Prueba"

# Conectar a la base de datos
client = MongoClient(uri)

# Seleccionar la base de datos
db = client['TelecomDB']

# Acceder a las colecciones
employees_collection = db['Employees']
customers_collection = db['Customers']
transactions_collection = db['Transactions']

In [4]:
# Ejemplo de consulta: Obtener todos los documentos de la colecci√≥n Employees
employees = employees_collection.find()
print("Employees:")
for employee in employees:
    print(employee)

Employees:
{'_id': ObjectId('6687b6767f84c33cbfc9c336'), 'EmployeeID': 1, 'FirstName': 'Aaron', 'LastName': 'Smith', 'Email': 'aaron.smith@example.com', 'HireDate': datetime.datetime(2018, 1, 15, 0, 0), 'Salary': 59000}
{'_id': ObjectId('6687b6767f84c33cbfc9c337'), 'EmployeeID': 2, 'FirstName': 'Betty', 'LastName': 'Jones', 'Email': 'betty.jones@example.com', 'HireDate': datetime.datetime(2019, 4, 12, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c338'), 'EmployeeID': 3, 'FirstName': 'Carl', 'LastName': 'Brown', 'Email': 'carl.brown@example.com', 'HireDate': datetime.datetime(2020, 7, 18, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c339'), 'EmployeeID': 4, 'FirstName': 'Diana', 'LastName': 'Davis', 'Email': 'diana.davis@example.com', 'HireDate': datetime.datetime(2021, 2, 24, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33a'), 'EmployeeID': 5, 'FirstName': 'Evan', 'LastName': 'Wilson', 'Email': 'evan.wilson@example.com', 'HireDate': datetime.datetime(2017, 6, 19, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33b'), 'EmployeeID': 6, 'FirstName': 'Fiona', 'LastName': 'Clark', 'Email': 'fiona.clark@example.com', 'HireDate': datetime.datetime(2016, 9, 5, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33c'), 'EmployeeID': 7, 'FirstName': 'George', 'LastName': 'Lewis', 'Email': 'george.lewis@example.com', 'HireDate': datetime.datetime(2018, 3, 10, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33d'), 'EmployeeID': 8, 'FirstName': 'Hannah', 'LastName': 'Walker', 'Email': 'hannah.walker@example.com', 'HireDate': datetime.datetime(2019, 11, 21, 0, 0), 'Salary': 58000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33e'), 'EmployeeID': 9, 'FirstName': 'Ian', 'LastName': 'Hall', 'Email': 'ian.hall@example.com', 'HireDate': datetime.datetime(2020, 5, 15, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33f'), 'EmployeeID': 10, 'FirstName': 'Julia', 'LastName': 'Allen', 'Email': 'julia.allen@example.com', 'HireDate': datetime.datetime(2021, 1, 10, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c340'), 'EmployeeID': 11, 'FirstName': 'Kevin', 'LastName': 'Young', 'Email': 'kevin.young@example.com', 'HireDate': datetime.datetime(2017, 10, 12, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c341'), 'EmployeeID': 12, 'FirstName': 'Laura', 'LastName': 'King', 'Email': 'laura.king@example.com', 'HireDate': datetime.datetime(2016, 12, 1, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c342'), 'EmployeeID': 13, 'FirstName': 'Mike', 'LastName': 'Scott', 'Email': 'mike.scott@example.com', 'HireDate': datetime.datetime(2018, 8, 23, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c343'), 'EmployeeID': 14, 'FirstName': 'Nina', 'LastName': 'Green', 'Email': 'nina.green@example.com', 'HireDate': datetime.datetime(2019, 4, 18, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c344'), 'EmployeeID': 15, 'FirstName': 'Oscar', 'LastName': 'Adams', 'Email': 'oscar.adams@example.com', 'HireDate': datetime.datetime(2020, 9, 25, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c345'), 'EmployeeID': 16, 'FirstName': 'Paula', 'LastName': 'Mitchell', 'Email': 'paula.mitchell@example.com', 'HireDate': datetime.datetime(2021, 3, 17, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c346'), 'EmployeeID': 17, 'FirstName': 'Quincy', 'LastName': 'Roberts', 'Email': 'quincy.roberts@example.com', 'HireDate': datetime.datetime(2017, 7, 19, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c347'), 'EmployeeID': 18, 'FirstName': 'Rachel', 'LastName': 'Phillips', 'Email': 'rachel.phillips@example.com', 'HireDate': datetime.datetime(2018, 5, 11, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c348'), 'EmployeeID': 19, 'FirstName': 'Sam', 'LastName': 'Campbell', 'Email': 'sam.campbell@example.com', 'HireDate': datetime.datetime(2019, 11, 22, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c349'), 'EmployeeID': 20, 'FirstName': 'Tina', 'LastName': 'Parker', 'Email': 'tina.parker@example.com', 'HireDate': datetime.datetime(2020, 1, 30, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34a'), 'EmployeeID': 21, 'FirstName': 'Uma', 'LastName': 'Evans', 'Email': 'uma.evans@example.com', 'HireDate': datetime.datetime(2017, 8, 15, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34b'), 'EmployeeID': 22, 'FirstName': 'Victor', 'LastName': 'Edwards', 'Email': 'victor.edwards@example.com', 'HireDate': datetime.datetime(2018, 2, 21, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34c'), 'EmployeeID': 23, 'FirstName': 'Wendy', 'LastName': 'Collins', 'Email': 'wendy.collins@example.com', 'HireDate': datetime.datetime(2019, 6, 29, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34d'), 'EmployeeID': 24, 'FirstName': 'Xander', 'LastName': 'Stewart', 'Email': 'xander.stewart@example.com', 'HireDate': datetime.datetime(2020, 3, 19, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34e'), 'EmployeeID': 25, 'FirstName': 'Yvonne', 'LastName': 'Sanchez', 'Email': 'yvonne.sanchez@example.com', 'HireDate': datetime.datetime(2021, 6, 5, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34f'), 'EmployeeID': 26, 'FirstName': 'Zach', 'LastName': 'Morris', 'Email': 'zach.morris@example.com', 'HireDate': datetime.datetime(2017, 4, 10, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c350'), 'EmployeeID': 27, 'FirstName': 'Aaron', 'LastName': 'Rogers', 'Email': 'aaron.rogers@example.com', 'HireDate': datetime.datetime(2018, 11, 13, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c351'), 'EmployeeID': 28, 'FirstName': 'Betty', 'LastName': 'Reed', 'Email': 'betty.reed@example.com', 'HireDate': datetime.datetime(2019, 2, 5, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c352'), 'EmployeeID': 29, 'FirstName': 'Carl', 'LastName': 'Cook', 'Email': 'carl.cook@example.com', 'HireDate': datetime.datetime(2020, 6, 25, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c353'), 'EmployeeID': 30, 'FirstName': 'Diana', 'LastName': 'Morgan', 'Email': 'diana.morgan@example.com', 'HireDate': datetime.datetime(2021, 4, 11, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c354'), 'EmployeeID': 31, 'FirstName': 'Evan', 'LastName': 'Bell', 'Email': 'evan.bell@example.com', 'HireDate': datetime.datetime(2017, 9, 17, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c355'), 'EmployeeID': 32, 'FirstName': 'Fiona', 'LastName': 'Murphy', 'Email': 'fiona.murphy@example.com', 'HireDate': datetime.datetime(2018, 10, 23, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c356'), 'EmployeeID': 33, 'FirstName': 'George', 'LastName': 'Bailey', 'Email': 'george.bailey@example.com', 'HireDate': datetime.datetime(2019, 5, 29, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c357'), 'EmployeeID': 34, 'FirstName': 'Hannah', 'LastName': 'Rivera', 'Email': 'hannah.rivera@example.com', 'HireDate': datetime.datetime(2020, 12, 14, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c358'), 'EmployeeID': 35, 'FirstName': 'Ian', 'LastName': 'Cooper', 'Email': 'ian.cooper@example.com', 'HireDate': datetime.datetime(2021, 8, 7, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c359'), 'EmployeeID': 36, 'FirstName': 'Julia', 'LastName': 'Richardson', 'Email': 'julia.richardson@example.com', 'HireDate': datetime.datetime(2017, 3, 19, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35a'), 'EmployeeID': 37, 'FirstName': 'Kevin', 'LastName': 'Cox', 'Email': 'kevin.cox@example.com', 'HireDate': datetime.datetime(2018, 11, 10, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35b'), 'EmployeeID': 38, 'FirstName': 'Laura', 'LastName': 'Howard', 'Email': 'laura.howard@example.com', 'HireDate': datetime.datetime(2019, 3, 16, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35c'), 'EmployeeID': 39, 'FirstName': 'Mike', 'LastName': 'Ward', 'Email': 'mike.ward@example.com', 'HireDate': datetime.datetime(2020, 7, 25, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35d'), 'EmployeeID': 40, 'FirstName': 'Nina', 'LastName': 'Torres', 'Email': 'nina.torres@example.com', 'HireDate': datetime.datetime(2021, 1, 28, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35e'), 'EmployeeID': 41, 'FirstName': 'Oscar', 'LastName': 'Peterson', 'Email': 'oscar.peterson@example.com', 'HireDate': datetime.datetime(2017, 11, 20, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35f'), 'EmployeeID': 42, 'FirstName': 'Paula', 'LastName': 'Gray', 'Email': 'paula.gray@example.com', 'HireDate': datetime.datetime(2018, 6, 15, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c360'), 'EmployeeID': 43, 'FirstName': 'Quincy', 'LastName': 'Ramirez', 'Email': 'quincy.ramirez@example.com', 'HireDate': datetime.datetime(2019, 9, 22, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c361'), 'EmployeeID': 44, 'FirstName': 'Rachel', 'LastName': 'James', 'Email': 'rachel.james@example.com', 'HireDate': datetime.datetime(2020, 3, 11, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c362'), 'EmployeeID': 45, 'FirstName': 'Sam', 'LastName': 'Watson', 'Email': 'sam.watson@example.com', 'HireDate': datetime.datetime(2021, 7, 19, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c363'), 'EmployeeID': 46, 'FirstName': 'Tina', 'LastName': 'Brooks', 'Email': 'tina.brooks@example.com', 'HireDate': datetime.datetime(2017, 4, 17, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c364'), 'EmployeeID': 47, 'FirstName': 'Uma', 'LastName': 'Kelly', 'Email': 'uma.kelly@example.com', 'HireDate': datetime.datetime(2018, 5, 19, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c365'), 'EmployeeID': 48, 'FirstName': 'Victor', 'LastName': 'Sanders', 'Email': 'victor.sanders@example.com', 'HireDate': datetime.datetime(2019, 8, 21, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c366'), 'EmployeeID': 49, 'FirstName': 'Wendy', 'LastName': 'Price', 'Email': 'wendy.price@example.com', 'HireDate': datetime.datetime(2020, 12, 19, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c367'), 'EmployeeID': 50, 'FirstName': 'Xander', 'LastName': 'Bennett', 'Email': 'xander.bennett@example.com', 'HireDate': datetime.datetime(2021, 2, 5, 0, 0), 'Salary': 62000}

In [5]:
# Ejemplo de consulta: Obtener todos los documentos de la colecci√≥n Customers
customers = customers_collection.find()
print("\nCustomers:")
for customer in customers:
    print(customer)

Customers:
{'_id': ObjectId('6687b6a17f84c33cbfc9c368'), 'CustomerID': 1, 'FirstName': 'Amelia', 'LastName': 'Smith', 'Email': 'amelia.smith@example.com', 'SignupDate': datetime.datetime(2021, 3, 15, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c369'), 'CustomerID': 2, 'FirstName': 'Brian', 'LastName': 'Johnson', 'Email': 'brian.johnson@example.com', 'SignupDate': datetime.datetime(2020, 5, 25, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36a'), 'CustomerID': 3, 'FirstName': 'Clara', 'LastName': 'Brown', 'Email': 'clara.brown@example.com', 'SignupDate': datetime.datetime(2019, 7, 20, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36b'), 'CustomerID': 4, 'FirstName': 'David', 'LastName': 'Davis', 'Email': 'david.davis@example.com', 'SignupDate': datetime.datetime(2021, 1, 28, 0, 0), 'MonthlyIncome': 5200}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36c'), 'CustomerID': 5, 'FirstName': 'Ella', 'LastName': 'Wilson', 'Email': 'ella.wilson@example.com', 'SignupDate': datetime.datetime(2017, 9, 22, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36d'), 'CustomerID': 6, 'FirstName': 'Frank', 'LastName': 'Clark', 'Email': 'frank.clark@example.com', 'SignupDate': datetime.datetime(2020, 12, 1, 0, 0), 'MonthlyIncome': 4700}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36e'), 'CustomerID': 7, 'FirstName': 'Grace', 'LastName': 'Lewis', 'Email': 'grace.lewis@example.com', 'SignupDate': datetime.datetime(2016, 6, 10, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36f'), 'CustomerID': 8, 'FirstName': 'Henry', 'LastName': 'Walker', 'Email': 'henry.walker@example.com', 'SignupDate': datetime.datetime(2018, 4, 25, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c370'), 'CustomerID': 9, 'FirstName': 'Isla', 'LastName': 'Hall', 'Email': 'isla.hall@example.com', 'SignupDate': datetime.datetime(2019, 9, 30, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c371'), 'CustomerID': 10, 'FirstName': 'Jack', 'LastName': 'Allen', 'Email': 'jack.allen@example.com', 'SignupDate': datetime.datetime(2021, 2, 14, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c372'), 'CustomerID': 11, 'FirstName': 'Kara', 'LastName': 'Young', 'Email': 'kara.young@example.com', 'SignupDate': datetime.datetime(2015, 12, 24, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c373'), 'CustomerID': 12, 'FirstName': 'Leo', 'LastName': 'King', 'Email': 'leo.king@example.com', 'SignupDate': datetime.datetime(2018, 7, 29, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c374'), 'CustomerID': 13, 'FirstName': 'Mia', 'LastName': 'Scott', 'Email': 'mia.scott@example.com', 'SignupDate': datetime.datetime(2019, 5, 19, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c375'), 'CustomerID': 14, 'FirstName': 'Noah', 'LastName': 'Green', 'Email': 'noah.green@example.com', 'SignupDate': datetime.datetime(2020, 11, 12, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c376'), 'CustomerID': 15, 'FirstName': 'Olivia', 'LastName': 'Adams', 'Email': 'olivia.adams@example.com', 'SignupDate': datetime.datetime(2017, 1, 27, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c377'), 'CustomerID': 16, 'FirstName': 'Paul', 'LastName': 'Mitchell', 'Email': 'paul.mitchell@example.com', 'SignupDate': datetime.datetime(2019, 6, 15, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c378'), 'CustomerID': 17, 'FirstName': 'Quinn', 'LastName': 'Roberts', 'Email': 'quinn.roberts@example.com', 'SignupDate': datetime.datetime(2016, 8, 12, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c379'), 'CustomerID': 18, 'FirstName': 'Ruby', 'LastName': 'Phillips', 'Email': 'ruby.phillips@example.com', 'SignupDate': datetime.datetime(2018, 5, 30, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37a'), 'CustomerID': 19, 'FirstName': 'Steve', 'LastName': 'Campbell', 'Email': 'steve.campbell@example.com', 'SignupDate': datetime.datetime(2021, 3, 13, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37b'), 'CustomerID': 20, 'FirstName': 'Tina', 'LastName': 'Parker', 'Email': 'tina.parker@example.com', 'SignupDate': datetime.datetime(2017, 12, 21, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37c'), 'CustomerID': 21, 'FirstName': 'Uma', 'LastName': 'Evans', 'Email': 'uma.evans@example.com', 'SignupDate': datetime.datetime(2018, 10, 17, 0, 0), 'MonthlyIncome': 4700}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37d'), 'CustomerID': 22, 'FirstName': 'Victor', 'LastName': 'Edwards', 'Email': 'victor.edwards@example.com', 'SignupDate': datetime.datetime(2019, 7, 29, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37e'), 'CustomerID': 23, 'FirstName': 'Wendy', 'LastName': 'Collins', 'Email': 'wendy.collins@example.com', 'SignupDate': datetime.datetime(2020, 12, 15, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37f'), 'CustomerID': 24, 'FirstName': 'Xavier', 'LastName': 'Stewart', 'Email': 'xavier.stewart@example.com', 'SignupDate': datetime.datetime(2017, 2, 18, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c380'), 'CustomerID': 25, 'FirstName': 'Yara', 'LastName': 'Sanchez', 'Email': 'yara.sanchez@example.com', 'SignupDate': datetime.datetime(2018, 8, 28, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c381'), 'CustomerID': 26, 'FirstName': 'Zane', 'LastName': 'Morris', 'Email': 'zane.morris@example.com', 'SignupDate': datetime.datetime(2019, 1, 15, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c382'), 'CustomerID': 27, 'FirstName': 'Alex', 'LastName': 'Rogers', 'Email': 'alex.rogers@example.com', 'SignupDate': datetime.datetime(2020, 4, 8, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c383'), 'CustomerID': 28, 'FirstName': 'Bella', 'LastName': 'Reed', 'Email': 'bella.reed@example.com', 'SignupDate': datetime.datetime(2017, 6, 20, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c384'), 'CustomerID': 29, 'FirstName': 'Carter', 'LastName': 'Cook', 'Email': 'carter.cook@example.com', 'SignupDate': datetime.datetime(2018, 12, 5, 0, 0), 'MonthlyIncome': 4700}
{'_id': ObjectId('6687b6a17f84c33cbfc9c385'), 'CustomerID': 30, 'FirstName': 'Daisy', 'LastName': 'Morgan', 'Email': 'daisy.morgan@example.com', 'SignupDate': datetime.datetime(2019, 3, 22, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c386'), 'CustomerID': 31, 'FirstName': 'Evan', 'LastName': 'Bell', 'Email': 'evan.bell@example.com', 'SignupDate': datetime.datetime(2020, 9, 12, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c387'), 'CustomerID': 32, 'FirstName': 'Fiona', 'LastName': 'Murphy', 'Email': 'fiona.murphy@example.com', 'SignupDate': datetime.datetime(2017, 7, 21, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c388'), 'CustomerID': 33, 'FirstName': 'George', 'LastName': 'Bailey', 'Email': 'george.bailey@example.com', 'SignupDate': datetime.datetime(2018, 2, 25, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c389'), 'CustomerID': 34, 'FirstName': 'Hannah', 'LastName': 'Rivera', 'Email': 'hannah.rivera@example.com', 'SignupDate': datetime.datetime(2019, 6, 12, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38a'), 'CustomerID': 35, 'FirstName': 'Ian', 'LastName': 'Cooper', 'Email': 'ian.cooper@example.com', 'SignupDate': datetime.datetime(2021, 4, 15, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38b'), 'CustomerID': 36, 'FirstName': 'Julia', 'LastName': 'Richardson', 'Email': 'julia.richardson@example.com', 'SignupDate': datetime.datetime(2017, 10, 8, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38c'), 'CustomerID': 37, 'FirstName': 'Kevin', 'LastName': 'Cox', 'Email': 'kevin.cox@example.com', 'SignupDate': datetime.datetime(2018, 11, 14, 0, 0), 'MonthlyIncome': 4700}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38d'), 'CustomerID': 38, 'FirstName': 'Laura', 'LastName': 'Howard', 'Email': 'laura.howard@example.com', 'SignupDate': datetime.datetime(2019, 3, 20, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38e'), 'CustomerID': 39, 'FirstName': 'Mike', 'LastName': 'Ward', 'Email': 'mike.ward@example.com', 'SignupDate': datetime.datetime(2020, 7, 24, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38f'), 'CustomerID': 40, 'FirstName': 'Nina', 'LastName': 'Torres', 'Email': 'nina.torres@example.com', 'SignupDate': datetime.datetime(2021, 1, 28, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c390'), 'CustomerID': 41, 'FirstName': 'Oscar', 'LastName': 'Peterson', 'Email': 'oscar.peterson@example.com', 'SignupDate': datetime.datetime(2017, 11, 20, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c391'), 'CustomerID': 42, 'FirstName': 'Paula', 'LastName': 'Gray', 'Email': 'paula.gray@example.com', 'SignupDate': datetime.datetime(2018, 6, 15, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c392'), 'CustomerID': 43, 'FirstName': 'Quincy', 'LastName': 'Ramirez', 'Email': 'quincy.ramirez@example.com', 'SignupDate': datetime.datetime(2019, 9, 22, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c393'), 'CustomerID': 44, 'FirstName': 'Rachel', 'LastName': 'James', 'Email': 'rachel.james@example.com', 'SignupDate': datetime.datetime(2020, 3, 11, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c394'), 'CustomerID': 45, 'FirstName': 'Sam', 'LastName': 'Watson', 'Email': 'sam.watson@example.com', 'SignupDate': datetime.datetime(2021, 7, 19, 0, 0), 'MonthlyIncome': 4700}
{'_id': ObjectId('6687b6a17f84c33cbfc9c395'), 'CustomerID': 46, 'FirstName': 'Tina', 'LastName': 'Brooks', 'Email': 'tina.brooks@example.com', 'SignupDate': datetime.datetime(2017, 4, 17, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c396'), 'CustomerID': 47, 'FirstName': 'Uma', 'LastName': 'Kelly', 'Email': 'uma.kelly@example.com', 'SignupDate': datetime.datetime(2018, 5, 19, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c397'), 'CustomerID': 48, 'FirstName': 'Victor', 'LastName': 'Sanders', 'Email': 'victor.sanders@example.com', 'SignupDate': datetime.datetime(2019, 8, 21, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c398'), 'CustomerID': 49, 'FirstName': 'Wendy', 'LastName': 'Price', 'Email': 'wendy.price@example.com', 'SignupDate': datetime.datetime(2020, 12, 19, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c399'), 'CustomerID': 50, 'FirstName': 'Xander', 'LastName': 'Bennett', 'Email': 'xander.bennett@example.com', 'SignupDate': datetime.datetime(2021, 2, 5, 0, 0), 'MonthlyIncome': 4900}

In [6]:
# Ejemplo de consulta: Obtener todos los documentos de la colecci√≥n Transactions
transactions = transactions_collection.find()
print("\nTransactions:")
for transaction in transactions:
    print(transaction)

Transactions:
{'_id': ObjectId('6687b6d07f84c33cbfc9c39a'), 'TransactionID': 1, 'CustomerID': 1, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 1, 10, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c39b'), 'TransactionID': 2, 'CustomerID': 2, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 2, 15, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c39c'), 'TransactionID': 3, 'CustomerID': 3, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 11, 20, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c39d'), 'TransactionID': 4, 'CustomerID': 4, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 2, 5, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c39e'), 'TransactionID': 5, 'CustomerID': 5, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 9, 12, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c39f'), 'TransactionID': 6, 'CustomerID': 6, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 10, 11, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a0'), 'TransactionID': 7, 'CustomerID': 7, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 8, 21, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a1'), 'TransactionID': 8, 'CustomerID': 8, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 15, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a2'), 'TransactionID': 9, 'CustomerID': 9, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 7, 18, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a3'), 'TransactionID': 10, 'CustomerID': 10, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 2, 9, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a4'), 'TransactionID': 11, 'CustomerID': 11, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 5, 22, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a5'), 'TransactionID': 12, 'CustomerID': 12, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 6, 5, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a6'), 'TransactionID': 13, 'CustomerID': 13, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2022, 1, 2, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a7'), 'TransactionID': 14, 'CustomerID': 14, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 9, 10, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a8'), 'TransactionID': 15, 'CustomerID': 15, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 11, 20, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a9'), 'TransactionID': 16, 'CustomerID': 16, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2022, 2, 11, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3aa'), 'TransactionID': 17, 'CustomerID': 17, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 4, 15, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ab'), 'TransactionID': 18, 'CustomerID': 18, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 12, 5, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ac'), 'TransactionID': 19, 'CustomerID': 19, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 7, 28, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ad'), 'TransactionID': 20, 'CustomerID': 20, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 1, 18, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ae'), 'TransactionID': 21, 'CustomerID': 21, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 10, 10, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3af'), 'TransactionID': 22, 'CustomerID': 22, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 9, 30, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b0'), 'TransactionID': 23, 'CustomerID': 23, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 12, 20, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b1'), 'TransactionID': 24, 'CustomerID': 24, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 25, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b2'), 'TransactionID': 25, 'CustomerID': 25, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 8, 14, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b3'), 'TransactionID': 26, 'CustomerID': 26, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 2, 2, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b4'), 'TransactionID': 27, 'CustomerID': 27, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 6, 17, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b5'), 'TransactionID': 28, 'CustomerID': 28, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 9, 15, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b6'), 'TransactionID': 29, 'CustomerID': 29, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 10, 29, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b7'), 'TransactionID': 30, 'CustomerID': 30, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 5, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b8'), 'TransactionID': 31, 'CustomerID': 31, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 11, 11, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b9'), 'TransactionID': 32, 'CustomerID': 32, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 2, 18, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ba'), 'TransactionID': 33, 'CustomerID': 33, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 7, 22, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3bb'), 'TransactionID': 34, 'CustomerID': 34, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 8, 31, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3bc'), 'TransactionID': 35, 'CustomerID': 35, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 12, 9, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3bd'), 'TransactionID': 36, 'CustomerID': 36, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 20, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3be'), 'TransactionID': 37, 'CustomerID': 37, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 9, 3, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3bf'), 'TransactionID': 38, 'CustomerID': 38, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 10, 12, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c0'), 'TransactionID': 39, 'CustomerID': 39, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 7, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c1'), 'TransactionID': 40, 'CustomerID': 40, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 11, 24, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c2'), 'TransactionID': 41, 'CustomerID': 41, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 7, 25, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c3'), 'TransactionID': 42, 'CustomerID': 42, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 2, 15, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c4'), 'TransactionID': 43, 'CustomerID': 43, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 6, 9, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c5'), 'TransactionID': 44, 'CustomerID': 44, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 12, 12, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c6'), 'TransactionID': 45, 'CustomerID': 45, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 18, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c7'), 'TransactionID': 46, 'CustomerID': 46, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 8, 25, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c8'), 'TransactionID': 47, 'CustomerID': 47, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 1, 13, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c9'), 'TransactionID': 48, 'CustomerID': 48, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 10, 1, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ca'), 'TransactionID': 49, 'CustomerID': 49, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 9, 19, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3cb'), 'TransactionID': 50, 'CustomerID': 50, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 2, 10, 0, 0), 'Amount': 55}

In [7]:
import pandas as pd

### Crear DataFrames a partir de las Colecciones de MongoDB:

In [8]:
employees_mongo = pd.DataFrame(list(db.Employees.find()))
customers_mongo = pd.DataFrame(list(db.Customers.find()))
transactions_mongo = pd.DataFrame(list(db.Transactions.find()))

### Eliminar la Columna _id:

In [9]:
employees_mongo.drop(columns=['_id'], inplace=True)
customers_mongo.drop(columns=['_id'], inplace=True)
transactions_mongo.drop(columns=['_id'], inplace=True)

### Mostrar los DataFrames para Confirmar la Operaci√≥n:

In [10]:
print("Employees DataFrame:")
print(employees_mongo.head())

Employees DataFrame:
   EmployeeID FirstName LastName                    Email   HireDate  Salary
0           1     Aaron    Smith  aaron.smith@example.com 2018-01-15   59000
1           2     Betty    Jones  betty.jones@example.com 2019-04-12   62000
2           3      Carl    Brown   carl.brown@example.com 2020-07-18   60000
3           4     Diana    Davis  diana.davis@example.com 2021-02-24   61000
4           5      Evan   Wilson  evan.wilson@example.com 2017-06-19   64000

In [11]:
print("\nCustomers DataFrame:")
print(customers_mongo.head())

Customers DataFrame:
   CustomerID FirstName LastName                      Email SignupDate  \
0           1    Amelia    Smith   amelia.smith@example.com 2021-03-15
1           2     Brian  Johnson  brian.johnson@example.com 2020-05-25
2           3     Clara    Brown    clara.brown@example.com 2019-07-20
3           4     David    Davis    david.davis@example.com 2021-01-28
4           5      Ella   Wilson    ella.wilson@example.com 2017-09-22

   MonthlyIncome
0           4600
1           4800
2           5000
3           5200
4           5300

In [12]:
print("\nTransactions DataFrame:")
print(transactions_mongo.head())

Transactions DataFrame:
   TransactionID  CustomerID        Product TransactionDate  Amount
0              1           1  Internet Plan      2022-01-10      55
1              2           2     Phone Plan      2022-02-15      35
2              3           3        TV Plan      2021-11-20      75
3              4           4  Internet Plan      2022-02-05      55
4              5           5     Phone Plan      2021-09-12      45

### Unir Dataframes

In [ ]:
# employees_combined = pd.concat([employees_sql, employees_mysql, employees_mongo], ignore_index=True)
# customers_combined = pd.concat([customers_sql, customers_mysql, customers_mongo], ignore_index=True)
# transactions_combined = pd.concat([transactions_sql, transactions_mysql, transactions_mongo], ignore_index=True)

### Guardar en CSV

In [ ]:
employees_combined.to_csv('combined_employees.csv', index=False)
customers_combined.to_csv('combined_customers.csv', index=False)
transactions_combined.to_csv('combined_transactions.csv', index=False)